@model IEnumerable<User>
@{
    ViewData["Title"] = "Admin panel";
}
<h1>Admin panel</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model ?? Enumerable.Empty<User>())
    {
        <partial name="_UserSummary" model="user"/>
    }
    </tbody>
</table>
<button>
    <a asp-controller="Home" asp-action="Index">Back</a>
</button>