@model ToDoList.Domain.ViewModels.UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>LOGIN</h1>
<form asp-controller="Account" asp-action="Login" method="post">
    <div>
        <label asp-for="EmailOrUserName">Login:</label>
        <input asp-for="EmailOrUserName"/>
        <span asp-validation-for="EmailOrUserName"></span>
        <p>
            <i>(Email or password)</i>
        </p>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit">Login</button>
        <button>
            <a asp-controller="Home" asp-action="Index">Back</a>
        </button>
    </div>
</form>