@model ToDoList.Domain.ViewModels.UserProfileViewModel
<div>
    <form asp-controller="Account" asp-action="ChangeUserName">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" value=@Model.UserName>
        <button type="submit">Change username</button>
    </form>
    <p>User email: @User.Identity.Name</p>
</div>
<div>
    <form asp-controller="Account" asp-action="UpdatePassword">
        <p>Change password:</p>
        <div>
            <label asp-for="UserPasswordViewModel.OldPassword">Old password</label>
            <input asp-for="UserPasswordViewModel.OldPassword">
            <span asp-validation-for="UserPasswordViewModel.OldPassword"></span>
        </div>
        <div>
            <label asp-for="UserPasswordViewModel.NewPassword">New password</label>
            <input asp-for="UserPasswordViewModel.NewPassword">
            <span asp-validation-for="UserPasswordViewModel.NewPassword"></span>
        </div>
        <div>
            <label asp-for="UserPasswordViewModel.ConfirmNewPassword">Confirm new password</label>
            <input asp-for="UserPasswordViewModel.ConfirmNewPassword">
            <span asp-validation-for="UserPasswordViewModel.ConfirmNewPassword"></span>
        </div>
        <button type="submit">Update password</button>
    </form>      
</div>
<div>
    <p>Delete account:</p>
    <form asp-controller="Account" asp-action="DeleteAccount">
        <button type="submit">Delete your account</button>
    </form>
</div>
<button><a asp-controller="Task" asp-action="Index">Back</a></button>