@model IQueryable<ToDoList.Domain.Entities.TaskEntity>
@{
    ViewData["Title"] = "Index";
}
<div>
    <partial name="_AuthentificationPanel" />
</div>
<form>
    <h1>TASK LIST</h1>
    <button asp-action="TaskForm">Add task</button>
</form>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Dead line</th>
            <th>Priority</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <partial name="_TaskSummary" model="task"/>
        }
    </tbody>
</table>



