@model ToDoList.Domain.Entities.TaskEntity
@{
    ViewData["Title"] = "Task Form";
}
<h1>ADD TASK</h1>
<form asp-action="TaskForm" method="post">
    <div>
        @if (Model != null)
        {
            <input type="hidden" asp-for="Id"/>
        }
    </div>
    <div>
        <label asp-for="Title">Title:</label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description">Description:</label>
        <input asp-for="Description"/>
        <p><i>Can be empty</i></p>
    </div>
    <div>
        <label asp-for="DeadLine">Dead line:</label>
        <input asp-for="DeadLine" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
        <span asp-validation-for="DeadLine"></span>
    </div>
    <div>
        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <div>
        <select asp-for="Status">
            <option value="NotStarted">Not started</option>
            <option value="InProgress">In progress</option>
        </select>
    </div>
    <div>
        <button type="submit">Confirm</button>
        <button><a asp-controller="Task" asp-action="Index">Back</a></button>
    </div>
</form>

